<div class="bg bg-white bg-shadowed text-center container padded marged">
  <div class="image-show" style="background-image: url(<%= @cocktail.picture.url(:large) || "https://unsplash.it/600/400?random" %>)">
    <div class="card-bg"></div>
    <h1>Modify <%= @cocktail.name %>'s name or picture</h1>
    <hr>
  </div>
</div>
<%= render 'form' %>
<div class="text-center">
  <%= link_to cocktail_path(@cocktail), class: "btn btn-primary" do %>Back to <%= @cocktail.name %><% end %>
</div>
